[data-dropdown] {
  position: relative;
}
[data-dropdown].ativo .link::before {
  transform: translateX(-30%) rotate(180deg);
}
[data-dropdown] .link::before {
  content: "";
  position: absolute;
  top: 43%;
  left: 85%;
  transform: translateX(-30%);
  border-style: solid;
  border-width: 6px 6px 0 6px;
  border-color: #222 transparent transparent transparent;
  transition: transform 0.3s ease;
}

[data-dropdown] .dropdown-menu {
  display: none;
}
[data-dropdown] .dropdown-menu.ativo {
  display: block;
  animation: show-down 0.3s forwards;
}

@keyframes show-down {
  from {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.dropdown-menu {
  background-color: #d34232;
  position: absolute;
  z-index: 200;
  top: 40px;
  left: 10px;
  border: 1px solid #222;
}

.dropdown-menu::before {
  content: "";
  display: block;
  position: absolute;
  top: -8px;
  right: 80%;
  transform: translateX(50%);
  border-style: solid;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #d34232 transparent;
}

.dropdown-menu li p {
  cursor: pointer;
  display: block;
  padding: 10px 0px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  text-transform: uppercase;

  margin: 0 8px;
  letter-spacing: 0.08em;
}

.dropdown-menu li p:hover {
  color: whitesmoke;
}
